{% comment %} {% load static %}

<!DOCTYPE html>
<html>
<head>
     <title>Sign In Page</title> 
     <link rel="stylesheet" href="{% static 'signin.css'%}">
</head>
<body>
    <div>   
        <form method="POST">
            {% csrf_token %}
            <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">SIGN IN</h1>
            <input type="text" name="username" id="username" placeholder="Username"><br><br>
            <input type="password" name="password" id="password" placeholder="Password">
            <p style="color: aliceblue; position:relative;">Forgot Password</p>
            <a href="{% url 'signup'%}" style="position:absolute;">signup</a>
            <button type="submit">signin</button>
            
        </form>
    </div>
</body>
</html> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex items-center justify-center min-h-screen bg-gray-200">
    
    
    <div class="bg-white p-8 rounded-lg shadow-lg w-80">
        <form method='POST'>
         {% csrf_token %}
        
        <h2 class="text-center text-2xl text-green-300 font-bold mb-6">SIGN IN</h2>
        
        
        <div class="mb-4">
            <input type="text" name="username" placeholder="username"
                class="w-full p-2 rounded-md border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue- bg-green-100">
        </div>
        

        <div class="mb-4">
            <input type="password" name="password" placeholder="password"
                class="w-full p-2 rounded-md border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-300 bg-blue-100">
        </div>
        
        
        <div class="flex justify-between text-sm mb-6 text-gray-400">
            <a href="#" class="hover:underline">Forgot Password</a>
            <a href="{% url 'signup' %}" class="hover:underline text-blue-300 ">Signup</a>
        </div>
        
    
        <button class="w-full py-2 bg-green-400 text-black font-semibold rounded-md hover:bg-blue-300 transition">
            SignIn
        </button>
    </div>
</body>
</html>